[user]
    name = Miguel Fonseca
    email = miguel.cnf@gmail.com

[core]
    editor = vim

[alias]
    l = log --graph --decorate --pretty=format:'%h %Cred %ad %Cgreen %s%d %Cblue %an' --date=short --abbrev-commit --all
    b = branch
    s = status -sb
    p = push
    d = diff
    ci = commit
    co = checkout
    serve = daemon --reuseaddr --base-path=. --export-all --verbose

[color]
    ui = auto

[color "branch"]
    current = green reverse
    local = green
    remote = red

[push]
    default = simple
