[user]
    name = Miguel Fonseca
    email = miguel.cnf@gmail.com

[core]
    editor = vim
    autocrlf = input

[alias]
    hist = log --graph --decorate --pretty=format:'%h %Cred %ad %Cgreen %s%d %Cblue %an' --date=short --abbrev-commit --all
    br = branch
    st = status -sb
    ci = commit
    co = checkout
    serve = daemon --reuseaddr --base-path=. --export-all --verbose
    info = remote show origin
    update = remote update origin --prune
    fetchandprune = fetch --all --prune
    repo = "!git remote show origin | grep 'Push  URL' | awk -F ' ' '{print $3}'"

[color]
    ui = auto

[color "branch"]
    current = green reverse
    local = green
    remote = red

[push]
    default = simple

[url "https://"]
    insteadOf = git://
